.add-product-section {
  width: 70em;
  height: 40rem;
  position: relative;
  top: 2rem;
  left: 5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Add-post-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  font-family: monospace;
}
.product-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.3rem;
  flex-wrap: wrap;
  max-height: 22rem;
}
.data-input {
  width: 30rem;
  height: 4rem;
  border-radius: 2rem;
  text-align: center;
  color: rgb(146, 143, 143);
  font-size: 25px;
  font-weight: bold;
}
.data-input:focus {
  color: black;
}

.image-content-holder {
  background-color: white;
  width: 28rem;
  height: 15rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  cursor: pointer;
}
.image-label {
  font-size: 23px;
}
.image-logo {
  width: 3rem;
  height: 3rem;
  background-image: url("../Image/pngegg.png");
  background-position: center;
  background-size: contain;
}
.add-product-btn {
  position: absolute;
  bottom: 0;
  width: 10rem;
  height: 3rem;
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 30px;
}
.product-images {
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 32rem;
  height: 16rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding-top: 1rem;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.image {
  width: 32rem;
  height: 3rem;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-src-name {
  font-size: 20px;
  max-width: 8rem;
  max-height: 3rem;
}
.remove-image {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Image/deleteLogoTest.png");
  cursor: pointer;
}
