.content-holder {
  width: 80rem;
  background-color: #89abe3;
  height: 45rem;
  position: absolute;
  box-shadow: 5px 5px 5px 5px rgb(101, 101, 101);
  top: 15%;
  left: 17.2%;
  border-radius: 5rem;
}
