.no-data-holder {
  position: relative;
  left: 45%;
  top: 20rem;
  width: 15rem;
  height: 14rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}
.no-data-image {
  width: 10rem;
  height: 9rem;
  background-size: contain;
  background-image: url("../Image/open-cardboard-box-graphics-transparent-free-jrOuEn.png");
  background-repeat: no-repeat;
}
.no-data-text {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
